<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.maaz.interiar">

    <dist:module dist:instant="true" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_interiar_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.Partner.AddNewProductActivity"></activity>
        <activity android:name=".ui.Partner.AddNewProductByCategoryActivity" />
        <activity
            android:name=".ui.PartnerDrawer.SettingsActivity"
            android:screenOrientation="locked" />
        <activity
            android:name=".ui.PartnerDrawer.NotificationActivity"
            android:screenOrientation="locked" />
        <activity
            android:name=".ui.PartnerDrawer.FollowersActivity"
            android:screenOrientation="locked" />
        <activity
            android:name=".ui.PartnerDrawer.MyProductsActivity"
            android:screenOrientation="locked" />
        <activity
            android:name=".ui.PartnerDrawer.AboutInteriARActivity"
            android:screenOrientation="locked" />
        <activity
            android:name=".ui.Partner.PartnerHomeActivity"
            android:label="@string/title_activity_partner_home"
            android:screenOrientation="locked"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activities.CaptureImageActivity"
            android:screenOrientation="locked" />
        <activity
            android:name=".ui.Partner.PartnerSignUpActivity"
            android:screenOrientation="locked" />
        <activity
            android:name=".ui.Partner.PartnerSignInActivity"
            android:screenOrientation="locked" />
        <activity
            android:name=".ui.activities.HomeActivity"
            android:screenOrientation="locked" />
        <activity
            android:name=".ui.activities.SignIn_Activity"
            android:screenOrientation="locked" />
        <activity
            android:name=".ui.activities.MainActivity"
            android:screenOrientation="locked">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>